<!doctype html>
<html ng-app>
<head>
<script src="js/angular.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/todo.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/todo.css">
<style type="text/css">
       body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">TODO APP</a>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div ng-controller="TodoCtrl">
        <div class="span4">
          <div class="well sidebar-nav">
          <form class="form-horizontal">
            <input type="text" class="input-xlarge"ng-model="formTodoText" ng-model-instant>
            <button class="btn btn-primary" ng-click="addTodo()"> <i class="icon-plus"></i>
              Add
            </button>
          </form>
        </div>
        </div>

        <div class="span8">
          <ul>
            <li ng-repeat="todo in todos"> <i class="icon-tasks"></i>
              <input type="checkbox" ng-model="todo.done">
              <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
          </ul>

          <p>Tasks Still left: {{gettotalTodos()}}</p>
          <button class="btn btn-success" ng-click="clearCompleted()">
            <i class="icon-trash"></i>
            Clear Completed
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
